page-detail {
      .circle-pic{
        width:60%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 5px solid #64493e;
    }

    .top-div{
        background-color: #eabe6b;
        border: 3px solid #64493e;
    }

    .list-styled{
        background-color: 	#ffeecd;
    }

    .map-button {
        width: 100%;
        border-radius: 30px;
        font-size: 0.9em;
        border: 1px solid #fff;
        background-color: #64493e;
    }
}
