.close-icon {
  float: right;
  color: gray;
  cursor: pointer;
}

.close-icon:hover {
  color: black;
}

.device-key {
  color: gray;
  margin-left: 20px;
}

.red {
  color: red;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f3f3f3;
}
