/.metadata/
/kinetis_K64_lib/*
/reindeerlog/Release
/reindeerlog/.settings/language.settings.xml
/K64lib
/reindeerlog/.settings/*
Packages

/K64f_lib/


/RemoteSystemsTempFiles/*
/reindeerlog/.cproject
/reindeerlog/.cwGeneratedFileSetLog
/reindeerlog/.project



