<div class="container">
  <div class="row justify-content-center">
    <div class="col-6" *ngIf="currentUser">
      <div class="row">
        <div class="col">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" placeholder="First name" id="firstname" [(ngModel)]="currentUser.firstName" required>
        </div>
        <div class="col">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" placeholder="Last name" id="lastname" [(ngModel)]="currentUser.lastName" name="lastName" required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="phonenumber">Telephone number</label>
          <div class="input-group mb-2" id="phonenumber">
            <div class="input-group-prepend">
              <div class="input-group-text">+358</div>
            </div>
            <input type="tel" class="form-control" [(ngModel)]="currentUser.phoneNumber" name="phoneNumber" required>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label for="location">Location</label>
          <select class="form-control" id="location" [(ngModel)]="currentUser.location" name="location" required>
            <option *ngFor="let location of locationArr; let i = index;" [value]="location" [selected]="i==0">{{location}}</option>
          </select>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col">
          <button class="btn btn-success btn-block" (click)="saveChanges()">Save</button>
        </div>
        <div class="col">
          <button class="btn btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <form >

      </form>
    </div>
  </div>
</div>
