<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <p>An email to reset your password will be sent to the following email address.</p>
      <br>
      <br>
      <form (submit)="sendEmail(mailForm)" #mailForm="ngForm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required ngModel name="email" email>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send email</button>
      </form>
      <br>
      <div *ngIf="showSuccessMessage">
        <div class="alert alert-success" role="alert">
          An email has been sent to <b>{{email}}</b>.
        </div>
        <button class="btn btn-success btn-block" id="tologin" routerLink="/login">To Login</button>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
        There is currently no user registered under <b>{{email}}</b> .
      </div>
    </div>
  </div>
</div>
