<ion-header>
  <ion-navbar>
    <ion-title>
      REINDEER TRACKER
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content>

    </ion-refresher-content>

    <!---->
  </ion-refresher>
  <p *ngIf="message">{{message}}</p>
  <div class="filter-holder">
    <div class="filter" (click)="openFilterModal()">Add filter  <ion-icon name="funnel"></ion-icon></div>
    <div class="filter" *ngFor="let filter of filterStrings">{{filter}}</div>
  </div>
  <ion-list>
    <ion-list-header class="header-item-styled">
      <ion-avatar item-start>
        <img src="assets/imgs/icons8-heart-outline-half-50.png">
      </ion-avatar>
      <div class="row">
        <div class="col col-50">ID</div>
        <div class="col col-50">LAST ACTIVE</div>
        <div class="col col-50">BATTERY</div>
      </div>
    </ion-list-header>

    <button ion-item (click)="loadDetail(device.deviceKey)" class="list-item-styled" *ngFor="let device of displayingDevices">
      <ion-avatar item-start>
        <img src="assets/imgs/icons8-heart-outline-filled-50.png" *ngIf="device.isAlive">
        <img src="assets/imgs/icons8-heart-outline-50.png" *ngIf="!device.isAlive">
      </ion-avatar>
      <div class="row">
        <div class="col col-50">{{device.deviceKey}}</div>
        <div class="col col-50">{{device.lastLog.date | date: 'dd/MM/yyyy'}}</div>
        <div class="col col-50">{{device.lastLog.battery}}</div>
      </div>
    </button>
  </ion-list>

  <p style="text-align: center; color: gray" *ngIf="displayingDevices.length === 0">No devices to display</p>

  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="loadAdd()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab (click)="loadDelete()"><ion-icon name="trash"></ion-icon></button>
      <button ion-fab (click)="loadProfile()"><ion-icon name="person"></ion-icon></button>
      <button ion-fab (click)="loadNotification()"><ion-icon name="alert"></ion-icon></button>
      <button ion-fab (click)="loadLogOut()"><ion-icon name="log-out"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
