page-home {
    .list-item-styled {
        background-color: #ffeecd;
      }
    
    .header-item-styled {
        background-color: #eabe6b;
        border-radius: 30px;
        border: 2px solid #64493e;
    }
}

