page-home {
    .list-item-styled {
        background-color: #ffeecd;
      }

    .header-item-styled {
        background-color: #eabe6b;
        border-radius: 30px;
        border: 2px solid #64493e;
    }

  .filter-holder {
    margin-bottom: 10px;
  }

  .filter {
    padding: 8px;
    border-radius: 10px;
    background-color: #eabe6b;
    display: inline-block;
    margin-right: 5px;

    ion-icon {
      margin-left: 5px;
    }
  }

  ion-refresher {
    background-color: #eabe6b !important;
  }

  ion-content {
    background-color: #ffeecd !important;
  }
}

