<nav>
  <div>
    <p class="logo" routerLink="/">ReindeerFinder</p>
    <div class="buttons" *ngIf="!authService.isAuthenticated()">
      <a href="#">Specifications</a>
      <a href="#">About</a>
      <a href="#">Buy now</a>
      <div class="auth">
        <a routerLink="/login">Login</a>
        <span>or</span>
        <button routerLink="/signup">Sign up</button>
      </div>
    </div>
    <div class="buttons" *ngIf="authService.isAuthenticated()">
      <a routerLink="/manifacturer/new-device" *ngIf="authService.isAdmin()">Add new device</a>
      <div *ngIf="!authService.isAdmin()" style="display: inline-block">
        <a routerLink="/user">Devices</a>
        <a routerLink="/profile">Profile</a>
      </div>
      <div class="auth">
        <button (click)="signOut()">Logout</button>
      </div>
    </div>
    <div class="nav-button">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</nav>
