<nav>
  <div>
    <p class="logo" routerLink="/">ReindeerFinder</p>
    <div class="buttons" *ngIf="!authService.isAuthenticated()">
      <a href="#">Specifications</a>
      <a href="#">About</a>
      <a href="#">Buy now</a>
      <div class="auth">
        <a routerLink="/login">Login</a>
        <span>or</span>
        <button routerLink="/signup">Sign up</button>
      </div>
    </div>
    <div class="buttons" *ngIf="authService.isAuthenticated()">
      <a href="#">Devices</a>
      <a href="#">Profile</a>
      <div class="auth">
        <button (click)="signOut()">Logout</button>
      </div>
    </div>
    <div class="nav-button">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</nav>
