.keys {
  margin-top: 20px;
}

.key {
  padding: 4px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  overflow: auto;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}
