.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

section {
  margin: 0px 20px;
  text-align: center;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

section .icon {
  font-size:3em;
  margin-bottom: 30px;
}

section h2 {
  font-weight: 400;
}

section p {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}
