<div class="container">
  <section>
    <div class="icon">
      <i class="fas fa-check"></i>
    </div>
    <h2>Easy to use</h2>
    <p>The system is focussed on simplicity. Simply link the device to your account and it can be tracked from anywhere.</p>
    <button type="button" class="btn btn-primary">Buy now</button>
  </section>

  <section>
    <div class="icon">
      <i class="fas fa-compass"></i>
    </div>
    <h2>Accurate</h2>
    <p>The location of the sensor is shared once every week, inbetween the app calculates the radius where the device could possibly be.</p>
    <button type="button" class="btn btn-primary">Specifications</button>
  </section>

  <section>
    <div class="icon">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <h2>Mobile</h2>
    <p>Reindeer tracker is also available via a mobile application. Currently available on android devices and soon available in the app store.</p>
    <button type="button" class="btn btn-primary">Visit store</button>
  </section>
</div>
