<div class="container">
  <h2>Notifications</h2>
  <br>
  <ul class="list-group">
    <li [class]="getNotificationClass(notification.seen)" *ngFor="let notification of notifications; let i = index">
      <a class="notification" (click)="deleteNotification(i)"><i class="fas fa-times"></i></a>
      <h4>{{notification.title}}</h4>
      <p>{{notification.message}}</p>
    </li>
  </ul>
  <p style="color: gray; text-align: center" *ngIf="notifications.length == 0">No notifications to display.</p>
</div>
