<div class="header">
  <h1>ReindeerFinder</h1>
  <p>Vul hier een mooie slagan in (aub ik heb geen idee wat ik hier moet schijven help mij)</p>
</div>
<app-info></app-info>
<div class="about">
  <h1>What is ReindeerFinder?</h1>
  <p>
    ReindeerFinder is an IoT device developed by the University of Applied Scineces of Oulu in coöperation with AP University from antwerp.
    The product gives farmers the opertunity to find their animal if they were attacked in an unknown area and retreive them.
    A tracker is attached to the animal and when it senses that it is dead it will send it's current location so the owner can locate their corpses in hope of getting a compensation.
  </p>
</div>
<div class="team">
  <h1>The team</h1>
  <div class="images">
    <section>
      <img src="../../assets/team/teun.png" alt="teun">
      <h3>Teun Verhaert</h3>
    </section>
    <section>
      <img src="../../assets/team/teun.png" alt="teun">
      <h3>Joren Jamar</h3>
    </section>
    <section>
      <img src="../../assets/team/teun.png" alt="teun">
      <h3>Maxim Wauters</h3>
    </section>
  </div>
  <div class="images">
    <section>
      <img src="../../assets/team/teun.png" alt="teun">
      <h3>Pauli Nikula</h3>
    </section>
    <section>
      <img src="../../assets/team/teun.png" alt="teun">
      <h3>Teemu Luukkonen</h3>
    </section>
    <section>
      <img src="../../assets/team/teun.png" alt="teun">
      <h3>Niklas Poussu</h3>
    </section>
  </div>
</div>
