.header {
  background-image: url('../../assets/lissa-li-389814.jpg');
  height: 800px;
  overflow: auto;

  background-attachment: fixed;
  background-position: 0 -200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -80px;
}

.header h1 {
  font-family: "TeXGyreHeros", sans-serif;
  text-align: center;
  font-size: 150pt;
  color: white;
  margin-top: 200px;
  /*text-shadow: 1px 2px 3px #666;*/
}

.header p {
  text-align: center;
  color: white;
  font-size: 20pt;
  padding: 10px 20px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
  width: fit-content;
  margin: auto;
}

.about {
  text-align: center;
  margin-top: 250px;
}

.about h1 {
  font-size: 40pt;
}

.about p {
  margin: auto;
  margin-top: 40px;
  width: 60%;
  font-size: large;
}

.team {
  text-align: center;
  margin-top: 150px;
}

.team h1 {
  font-size: 40pt;
  margin-bottom: 30px;
}

.team .images {
  /*background-image: url('../../assets/warren-sammut-271318.jpg');*/
  overflow: auto;

  background-attachment: fixed;
  background-position: 0 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.images {
  display: flex;
  justify-content: center;
}

.team .images section {
  padding: 20px;
  margin: 20px;
  width: 220px;
  border-radius: 10px;
  padding: 5px;
  box-sizing: content-box;
  background-color: white;
}

.team .images img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.images h3 {
  margin-top: 20px;
}

.gallery {
  width: 800px;
  margin: auto;
}

.gallery img {
  height: 200px;
}

.play-badge {
  text-align: center;
  margin-top: 100px;
}

.play-badge img {
  width: 200px;
}
