page-add {
    ion-item {
      padding-left: 0 !important;
    }

  #image {
    text-align: center;

    img {
      width: 60%;
      margin-bottom: 25px;
    }

    button {
      width: 50%;
    }
  }

    .submit-button {
        width: 100%;
        border-radius: 30px;
        font-size: 0.9em;
        border: 1px solid #fff;
        background-color: #64493e;
    }

    .textForm{
        background-color: #ffeecd;

    }
}
